


.backgroundone {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("./images/background1.jpg");
}

.backgroundtwo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("./images/background2.jpg");
}

.backgroundthree {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("./images/background3.jpg");
}

.backgroundfour {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("./images/background4.jpg");
}


.header {
  width: 100%;
  height: 20%;
  margin-top: 2rem;
  background-color: gray;
  display: flex;
  justify-content: center;
}